.button {
  cursor: pointer;
  font-size: var(--font-size-desktop-s);
  padding: 14px 19px 15px 24px;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--color-button-static-primary);
  color: var(--color-button-static-secondary);
  width: 132px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    color: var(--color-button-static-secondary);
  }

  &:hover {
    a {
      color: var(--color-button-hover-secondary);
    }
  }

  &:active {
    background-color: var(--color-button-pressed-primary);

    a {
      color: var(--color-button-pressed-secondary);
    }
  }
}
