/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import "_card.scss";
@import "_button.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}
